[Unit]
Description=TrainLPF MQTT service
After=network.target

[Service]
Restart=always
RestartSec=10
ExecStart=/usr/bin/python3 /home/pi/Python-TrainLPF-MQTT/main.py --i2c-address 0x3C --display sh1106

[Install]
WantedBy=multi-user.target